<footer class="main-footer">
  Easy Press is one half <a href="http://schneiderik.com" target="_blank">Erik Schneider</a> and one half <a href="http://christine-gutierrez.com" target="_blank">Christine Gutierrez</a>.
</footer>
