<footer class="main-footer">
  <div class="main-footer__copyright">
    <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" class="main-footer__cc">
      <img src="/images/by.svg" class="cc_icon" />
      <img src="/images/nc.svg" class="cc_icon" />
      <img src="/images/nd.svg" class="cc_icon" />
    </a>
    <span class="main-footer__attribution">2015 Easy Press</span>
  </div>
  <div class="main-footer__description">
    <span class="nowrap">Easy Press is one half <a href="http://schneiderik.com" target="_blank">Erik Schneider</a></span>
    <span class="nowrap">and one half <a href="http://christine-gutierrez.com" target="_blank">Christine Gutierrez</a>.</span>
  </div>
</footer>
