<header id="main-header">
  <div class="main-header__external-link-bar">
    <div class="main-header__external-links">
      <a href="https://www.instagram.com/schneiderik/" class="main-header__external-link">
        <img src="/images/instagram-logo.svg" class="main-header__external-link-icon" />
      </a>
      <a href="http://blog.schneiderik.com" class="main-header__external-link">
        <img src="/images/tumblr-logo.svg" class="main-header__external-link-icon" />
      </a>
      <a href="https://www.facebook.com/Easy-Press-543600772457025" class="main-header__external-link">
        <img src="/images/facebook-logo.svg" class="main-header__external-link-icon" />
      </a>
      <a href="/token" class="main-header__external-link main-header__external-link--text-link">Token</a>
    </div>
  </div>
  <div class="main-header__navigation">
    <h1 class="main-header__title"><a href="/" data-misprint="char">Easy Press</a></h1>
    {{> nav}} 
  </div>
</header>
