<header id="main-header">
  <h1 class="main-header__title" data-misprint="char">Easy Press</h1>
  <div class="main-header__slogan" data-misprint="word">"Quality Risograph printing the hard way"</div>
</header>
