<nav id="main-navigation">
  {{#ifCurrentPage "products" currentPageId}}
    <span>Products</span>
  {{else}}
    <a href="/">Products</a>
  {{/ifCurrentPage}}

  {{#ifCurrentPage "about" currentPageId}}
    <span>About</span>
  {{else}}
    <a href="/about">About</a>
  {{/ifCurrentPage}}

  {{#ifCurrentPage "token" currentPageId}}
    <span>Token</span>
  {{else}}
    <a href="/token">Token</a>
  {{/ifCurrentPage}}

  <a href="http://store.easy-press.co">Store</a>
</nav>
