<h1 class="title">About</h1>
<p>
  Easy Press is one half <a href="http://schneiderik.com">Erik Schneider</a>
  and one half <a href="http://christine-gutierrez.com">Christine Gutierrez</a>.
  Together, they want to help promote a positive and collaborative artist community in Chicago.
  Easy Press provides publishing and <a href="/token">events</a>
  aimed at showcasing the greater Chicago area's talented artists.
</p>

<h2>The Machine</h2>
<p>
  All printing is done on a Risograph MZ990 Digital Duplicator.
</p>

<p>
  Like a <a href="http://en.wikipedia.org/wiki/Mimeograph">mimeograph</a>,
  the Risograph works by transferring an image
  (either from a digital file or from the glass top) to a thin stencil
  called a "master." The master is then wrapped around a single color drum
  filled with liquid ink. The ink is pushed through the master and on to the
  paper (which runs flat through machine) while the drum rotates at high speed.
  It looks a lot like this
  <a href="http://25.media.tumblr.com/tumblr_lp9h6cRUMw1qzjd4oo1_500.gif">animated .gif</a>.
</p>

<p class="muted">
  Thanks to <a href="http://issue.press">Issue Press</a> for the great description.
</p>

<h2>Publishing</h2>
<p>
  Both Erik and Christine have full time jobs, and run Easy Press on nights and weekends.
  If you would like to be published by Easy Press,
  please drop <a href="mailto:erik.schneider42@gmail.com">Erik</a> or
  <a href="mailto:christinegutierrez24@gmail.com">Christine</a> an email.
  At this point, we are limiting our reach to publishing only Chicago area artists.
  If you don't have much experience with book-making or preparing art for Risograph printing,
  even if you've never self-published a single thing,
  don't worry about it! We can work together to create a book or print that you'll be proud of.
  You shouldn't feel like you need to have your work layed out in finished PDF's either.
  Just reach out with an idea, and we'll work as hard as we can to make it happen.
</p>

<h2>Materials</h2>
<p>
  Available inks include Black, Blue, Green, Yellow, Bright Red, and Mahogany. The MZ990
  model can *usually* print 2 inks in one pass with great results, so both one and two color
  projects are quick and easy to produce.
</p>

<p>
  As of right now, paper is ordered per-project. However, in the near future Easy Press will
  begin carrying a stock of white text and cover weight papers. Almost every project to date
  has been printed on <a href="https://www.frenchpaper.com/">French Paper</a>.
</p>
