<h1 class="title">About</h1>
<p>
  Easy Press is one half <a href="http://schneiderik.com">Erik Schneider</a>
  and one half <a href="http://christine-gutierrez.com">Christine Gutierrez</a>.
  Together, they want to help promote a positive and collaborative artist community in Chicago.
  Easy Press provides access to affordable printing, and organizes <a href="/token">events</a>
  and publications aimed showcasing the greater Chicago area's talented artists.
</p>

<div class="center">
  <img src="/images/riso.svg" alt="risokitty" class="riso"/>
</div>

<h3 class="topic">The Machine</h3>
<p>
  All printing is done on a Risograph MZ990 Digital Duplicator.
</p>

<p>
  Like a <a href="http://en.wikipedia.org/wiki/Mimeograph">mimeograph</a>,
  the Risograph works by transferring an image
  (either from a digital file or from the glass top) to a thin stencil
  called a "master." The master is then wrapped around a single color drum
  filled with liquid ink. The ink is pushed through the master and on to the
  paper (which runs flat through machine) while the drum rotates at high speed.
  It looks a lot like this
  <a href="http://25.media.tumblr.com/tumblr_lp9h6cRUMw1qzjd4oo1_500.gif">animated .gif</a>.
</p>

<p class="muted">
  Thanks to <a href="http://issue.press">Issue Press</a> for the great description.
</p>

<h3 class="topic">Availability</h3>
<p>
  Both Erik and Christine have full time jobs, and run Easy Press on nights and weekends.
  If you have interest in producing a print or book through Easy Press,
  please drop <a href="mailto:erik.schneider41@gmail.com">Erik</a> or <a href="mailto:christinegutierrez24@gmail.com">Christine</a> an email. We can't take on too many projects at once,
  but we will do our best to help out local artists.
</p>

<h3 class="topic">Materials</h3>
<p>
  Available inks include Black, Blue, Green, Yellow, Bright Red, and Mahogany. The MZ990
  model can *usually* print 2 inks in one pass with great results, so both one and two color
  projects are quick and easy to produce.
</p>

<p>
  As of right now, paper is ordered per-project. However, in the near future Easy Press will
  begin carrying a stock of white text and cover weight papers. Almost every project to date
  has been printed on <a href="https://www.frenchpaper.com/">French Paper</a>.
</p>
