<article class="product">
  <h1 class="product__name">{{product.name}}</h1>
  <div class="product__author">{{product.author}}</div>

  <div class="product__price">{{product.price}}</div>
  <div class="product__quantity">{{product.quantity}} in stock</div>

  <div class="product__images">
  {{#each product.images}}
    {{>product-image}}
  {{/each}}
</article>
