<h1 class="title">Token</h1>
<p>
  Token is a night of local comics, illustration, music, and video games aimed
  at showcasing passionate visual artists, musicians and creators in the Chicago area.
</p>

<!--
<nav>
  <a href="#next">Upcoming Event</a>
  <a href="#token1">Token 1</a>
</nav>
-->

<hr/>

<article id="next">
  <h2>Token 2: January 13, 2016</h2>
  <p>
     Token is coming back at the beginning of 2016! Emporium in Logan Square has invited us back for another night of great local art and live music. Token 2 will be slightly larger and much more organized.
  </p>

  <h3>Applying to Token:</h3>

  <p>
    Token is a curated show because we would like to include a diverse-as-possible exhibitor line-up.
  </p>

  <p>
    For this show, every exhibitor, unless otherwise agreed upon by Christine and Erik,
    is limited to a half table. If you only have one or two items, still apply!
    We will be buddying up exhibitors that only have a few things into group tables
    comprised of 3 or 4 exhibitors.  Tables at the venue are 7x3.5 feet, so there
    is enough space. Just note in your application that you would like/be willing to
    table at a group table.  This will help us get as many talented people in Token as we can!
  </p>

  <p>
    The application deadline is midnight, Friday, December 18.
    We will be reviewing applications as they come in.
  </p>

  <p>
    All applicants will be notified on Tuesday, December 22 if they were selected or not.
  </p>

  <p>
    <a href="http://goo.gl/forms/x8wqG4ivtg">Apply to Token 2</a>
  </p>
</article>

<hr/>

<!--
<article id="token1">
  <h2>Token 1: September 30, 2015</h2>

  <p>
    The first Token was held at Emporium in Logan Square.
</article>
-->


