<h1 class="title">Token</h1>
<p>
  Token is a night of local comics, illustration, music, and video games aimed
  at showcasing passionate visual artists, musicians and creators in the Chicago area.
</p>

<nav>
  <a href="#next">Token 2 (Upcoming)</a>
  <a href="#token1">Token 1</a>
</nav>

<hr/>

<article id="next">
  <h2>Token 2: January 13, 2016</h2>

  <img class="token-poster" src="/images/token/2-poster.png" />
  <p>
    Token 2 will again be held at Emporium in Logan Square.
    RSVPing on <a href="http://do312.com/token2">Do312</a> will get you a hosted
    <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a> from 6-7pm.
    Music will provided by <a href="http://christine-gutierrez.com">Cat Claw</a>
    with a DJ set by <a href="http://www.whitemysteryband.com/">Miss Alex White of White Mystery</a>.
  </p>

  <div class="tokens">
    <img class="token" src="/images/token/2-lane.png" />
    <img class="token" src="/images/token/2-javier.png" />
    <img class="token" src="/images/token/2-bianca.png" />
    <img class="token" src="/images/token/2-john.png" />
    <img class="token" src="/images/token/2-zelda.png" />
  </div>

  <p>
    For Token 2, the token illustrations were contributed by five talented Chicago artists. The artists in order are:
    <a href="http://www.lanefujita.com/">Lane Fujita</a>, <a href="http://javiercantdraw.com/">Javier Suárez</a>, <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>, <a href="http://johnclarkbaileyjr.com/">John Bailey</a>, and <a href="http://zeldagal.com/">Zelda Galewsky</a>.
  </p>

  <h3>Exhibitors</h3>

  <p>
    We are pleased to welcome several Chicago artist and organizations to Token 2.
    They are:
    <a href="http://www.nicklacke.com/">Nick Lacke</a>,
    <a href="http://eyevyberecords.bigcartel.com/">Eye Vybe Records</a>,
    <a href="http://www.alexkostiw.com/">Alex Kostiw</a>,
    <a href="http://crimsonlolita.com/">Zachary Lund</a>,
    <a href="http://maximumpelt.bigcartel.com/">Maximum Pelt</a>,
    <a href="http://www.lanefujita.com/">Lane Fujita</a>,
    <a href="https://www.instagram.com/checkerosk/">Jessica Checkeroski</a>,
    <a href="https://www.instagram.com/explore/tags/youngchicagocreatives/">Young Chicago Creatives</a>,
    <a href="http://www.tyrellcannon.com/">Tyrell Cannon</a>,
    <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
    <a href="http://feeltrip.co/">Feeltrip Records</a>,
    <a href="http://www.davescheidt.com/">Dave Scheidt</a>,
    <a href="http://melissasuestanley.net/">Melissa Sue Stanley</a>,
    <a href="http://maxbareart.com/">Max Bare</a>,
    <a href="http://hello-david.com/">David Alvarado</a>,
    <a href="http://mosstapes.com/">Mosstapes</a>,
    <a href="http://johnclarkbaileyjr.com/">John Bailey</a>,
    <a href="http://jbroe.com/">JB Roe</a>,
    <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>,
    <a href="http://alexnall.tumblr.com/">Alex Nall</a>,
    <a href="http://www.mikefreiheit.com/">Mike Freiheit</a>,
    <a href="http://zeldagal.com/">Zelda Galewsky</a>,
    <a href="http://javiercantdraw.com/">Javier Suárez</a>,
    <a href="http://nimbusprintshop.etsy.com">Nimbus Prints</a>,
    Harrington College of Design: <a href="http://www.duffyoconnor.com/">Duffy O'Connor</a>/<a href="https://www.behance.net/btone">Brandon Tone</a>/Nina D'Angier/<a href="https://twitter.com/ILLustratedGRL">Shea Cahill</a>,
    <a href="http://ghostcarpress.com/">Pranas T. Naujokaitis</a>
    and <a href="http://monstrochika.com/">Naomi Martinez</a>
  </p>
</article>

<hr/>

<article id="token1">
  <h2>Token 1: September 30, 2015</h2>

  <img class="token-poster" src="/images/token/1-poster.png" />

  <p>
    Token 1 was held at Emporium in Logan Square near the end of 2015.  After months of planning,
    the day before the event Erik had to rush to the hospital to have his appendix removed.
    The event still went on; and with the help of family, friends and exhibitors, Token was a
    great success.  The night included music by <a href="http://christine-gutierrez.com">Cat Claw</a>,
    as well as perfomances by <a href="https://www.facebook.com/williamsidesatariparty/">William Sides Atari Party</a> and <a href="https://www.facebook.com/DiodeMilliampere/?fref=ts">Diode Milliampere</a>.
    <a href="http://pabstblueribbon.com/">Pabst Blue Ribbon</a> and <a href="http://do312.com/">Do312</a> provided discounted drinks,
    and a photo booth was graciously provided by <a href="http://www.glitterguts.com/">Glitter Guts</a>.
  </p>

  <div class="tokens">
    <img class="token" src="/images/token/1-christine.png" />
    <img class="token" src="/images/token/1-shea.png" />
    <img class="token" src="/images/token/1-erik.png" />
    <img class="token" src="/images/token/1-armani.png" />
    <img class="token" src="/images/token/1-adrian.png" />
  </div>

  <p>
    Five tokens where made by the organizers and volunteers for the promotional materials. The artists in order are:
    <a href="http://christine-gutierrez.com">Christine Gutierrez</a>, <a href="https://twitter.com/ILLustratedGRL">Shea Cahill</a>, <a href="http://schneiderik.com">Erik Schneider</a>, <a href="http://www.armanibarron.com/">Armani Barron</a>, and Adrian Quintero.
  </p>

  <h3>Exhibitors</h3>

  <p>
    We were pleased to welcome several Chicago artist and organizations to the first Token.
    They were:
    <a href="http://www.radiatorcomics.com/">Radiator Comics</a>,
    <a href="http://www.bricabracrecords.com/">Bric-a-Brac Records</a>,
    <a href="http://feeltrip.co/">Feeltrip Records</a>,
    <a href="http://www.davescheidt.com/">Dave Scheidt</a>,
    <a href="http://aaronpittman.tumblr.com/">Aaron Pittman</a>,
    <a href="http://melissasuestanley.net/">Melissa Sue Stanley</a>,
    <a href="http://maxbareart.com/">Max Bare</a>,
    <a href="http://kevinbudnik.com/">Kevin Budnik</a>,
    <a href="http://hello-david.com/">David Alvarado</a>,
    <a href="http://mosstapes.com/">Mosstapes</a>,
    <a href="http://www.perfectly-acceptable.com/">Perfectly Acceptable Press</a>,
    <a href="http://johnclarkbaileyjr.com/">John Bailey</a>,
    <a href="http://jbroe.com/">JB Roe</a>,
    <a href="http://biancaxunise.tumblr.com/">Bianca DeBardelaben</a>,
    and <a href="http://alexnall.tumblr.com/">Alex Nall</a> (representing <a href="http://chicagozinefest.org/">Chicago Zine Fest</a>).
  </p>
</article>


