@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

p, ul, ol, li {
  margin: 0;
  padding: 0;
  margin-bottom: 1.618rem; }

p, li {
  max-width: 60ch; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.618rem;
  font-weight: 300; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  line-height: 1.618rem;
  font-weight: 700;
  margin: 0;
  padding: 0; }

img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; }

.page-container {
  min-height: 100%;
  margin-bottom: -4.854rem;
  padding-bottom: 4.854rem; }

.main-header {
  height: 4.854rem;
  padding-top: 3.236rem;
  padding-bottom: 1.618rem;
  padding-left: 3.236rem;
  padding-right: 3.236rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.main-header__logo {
  height: 3.236rem;
  width: auto;
  position: relative;
  top: 0.6472rem;
  left: -1.2135rem; }

.main-header__link {
  font-size: 24px;
  text-decoration: none;
  color: #999; }
  .main-header__link:not(:last-child) {
    margin-right: 3.236rem; }
  .main-header__link:hover {
    cursor: pointer;
    color: #000; }
  .main-header__link.active {
    color: #000; }

.main-section {
  padding-top: 4.854rem;
  padding-bottom: 3.236rem;
  padding-left: 3.236rem;
  padding-right: 3.236rem; }

.main-footer {
  height: 4.854rem;
  padding-top: 1.618rem;
  padding-bottom: 1.618rem;
  padding-left: 3.236rem;
  padding-right: 3.236rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.main-footer__item {
  display: flex;
  align-items: middle; }

.main-footer__copyright {
  margin-left: 0.809rem; }

.social-media-link {
  width: 1.618rem;
  height: 1.618rem;
  margin-left: 0.4045rem; }

.creative-commons {
  text-decoration: none; }
  .creative-commons__icon {
    height: 1.618rem;
    width: 1.618rem;
    display: inline-block; }

.product-browser {
  display: flex; }

.product-filters {
  flex: 0 0 16.18rem;
  display: none; }
  @media (min-width: 640px) {
    .product-filters {
      display: block; } }

.product-listing {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.618rem;
  margin-right: -1.618rem; }

.product {
  flex: 0 0 100%;
  text-decoration: none;
  color: #000;
  margin-bottom: 4.854rem;
  padding-left: 1.618rem;
  padding-right: 1.618rem;
  text-align: center; }
  @media (min-width: 520px) {
    .product {
      flex: 0 0 50%; } }
  @media (min-width: 640px) {
    .product {
      flex: 0 0 100%; } }
  @media (min-width: 850px) {
    .product {
      flex: 0 0 50%; } }
  @media (min-width: 1200px) {
    .product {
      flex: 0 0 33.333%; } }
  @media (min-width: 1600px) {
    .product {
      flex: 0 0 25%; } }
  .product .product__image-container {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-bottom: 0.809rem;
    position: relative; }
  .product .product__image {
    transition: transform 200ms;
    -webkit-backface-visibility: hidden;
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: block;
    object-fit: contain; }
  .product:hover .product__image {
    transform: scale(1.01); }

.checkbox-group:not(:first-child) {
  margin-top: 1.618rem; }

.checkbox-group .checkbox-group__title {
  margin-bottom: 0.4045rem; }

.checkbox-input .checkbox-input__label {
  cursor: pointer; }

.checkbox-input .checkbox-input__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  display: inline-block;
  vertical-align: middle;
  height: 1.2135rem;
  width: 1.2135rem;
  border: 1px solid #888;
  border-radius: 2px;
  margin-top: 0.1618rem;
  margin-bottom: 0.2427rem;
  margin-left: 0;
  margin-right: 0.4045rem;
  cursor: pointer; }
  .checkbox-input .checkbox-input__input:focus {
    outline: none; }
  .checkbox-input .checkbox-input__input:checked {
    border-color: #1976d2;
    background: #1976d2; }
    .checkbox-input .checkbox-input__input:checked:after {
      content: '';
      display: block;
      width: 4px;
      height: 8px;
      border: solid #FFF;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      position: relative;
      top: 2px;
      left: 5px; }

.product-page {
  width: 100%;
  display: flex;
  margin-left: -1.618rem;
  margin-right: -1.618rem; }
  .product-page .product-page__overview {
    flex: 0 0 50%;
    padding-left: 1.618rem;
    padding-right: 1.618rem; }
  .product-page .product-page__images {
    flex: 0 0 50%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-left: 1.618rem;
    padding-right: 1.618rem;
    position: relative;
    text-align: center; }
  .product-page .product-page__image {
    z-index: 1;
    width: auto;
    max-width: 100%;
    max-height: 700px;
    margin-bottom: 1.618rem; }
