@import url(./reset.css);
* {
  box-sizing: border-box; }

body {
  font-size: 137%; }

#main-header {
  margin: auto;
  max-width: 960px;
  width: 90%; }

#main-section {
  margin: auto;
  max-width: 960px;
  width: 90%; }

#products {
  margin: 0 -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.product {
  padding: 1rem;
  flex-grow: 1;
  flex-basis: 320px; }
  .product .product__cover-photo {
    background-color: #646464;
    width: 100%; }
