.quick-look-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll; }
  .quick-look-modal .quick-look-modal__content {
    position: relative;
    margin: 70px auto;
    max-width: 848px;
    width: 100%;
    background: #FFF;
    padding: 25px 40px 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 101; }
    .quick-look-modal .quick-look-modal__content #product {
      margin-top: 0; }
  .quick-look-modal .quick-look-modal__dismiss-bar {
    position: relative;
    top: 70px;
    max-width: 848px;
    margin: 0 auto;
    width: 100%;
    background: #222;
    z-index: 101; }
    .quick-look-modal .quick-look-modal__dismiss-bar:before,
    .quick-look-modal .quick-look-modal__dismiss-bar:after {
      content: " ";
      display: table; }
    .quick-look-modal .quick-look-modal__dismiss-bar:after {
      clear: both; }
  .quick-look-modal .quick-look-modal__dismiss-link {
    display: inline-block;
    float: right;
    text-align: center;
    height: 1.75rem;
    width: 1.7rem;
    font-size: 2rem;
    line-height: 1rem;
    font-weight: 100;
    cursor: pointer;
    padding: 0.25rem;
    color: #FFF; }

#main-header {
  margin: 0 auto 3rem; }
  #main-header:before,
  #main-header:after {
    content: " ";
    display: table; }
  #main-header:after {
    clear: both; }
  #main-header .main-header__navigation {
    margin: auto;
    max-width: 768px;
    width: 90%; }
  #main-header .main-header__title {
    font-family: 'bebas', 'helvetica neue', helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    float: left; }
    #main-header .main-header__title a {
      color: #222;
      text-decoration: none; }
      #main-header .main-header__title a:hover {
        color: #222; }
  #main-header .main-header__external-link-bar {
    margin-bottom: 1.5rem;
    background: #222; }
  #main-header .main-header__external-link-icon {
    height: 1.4rem; }
  #main-header .main-header__external-links {
    margin: auto;
    max-width: 768px;
    width: 90%; }
  #main-header .main-header__external-link {
    height: 2.5rem;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: 0.55rem 0.3rem;
    line-height: 1.4rem;
    vertical-align: middle; }
    #main-header .main-header__external-link:hover {
      background: #555; }
  #main-header .main-header__external-link--text-link {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    position: relative; }
  @media (max-width: 768px) {
    #main-header {
      margin-bottom: 2rem; }
      #main-header .main-header__title {
        float: none; } }

nav {
  margin-bottom: 1rem; }
  nav a,
  nav span {
    margin-right: 0.75rem; }
    nav a:last-child,
    nav span:last-child {
      margin-right: 0; }
  nav span {
    color: #999; }

#main-navigation {
  float: right;
  height: 4.536rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  #main-navigation a,
  #main-navigation span {
    font-size: 1.2rem;
    font-weight: 200; }
  @media (max-width: 768px) {
    #main-navigation {
      width: 100%;
      display: block;
      float: none; } }

.main-footer {
  max-width: 768px;
  width: 90%;
  margin: 4rem auto 0;
  padding: 1rem 0;
  font-weight: 300; }
  .main-footer:before,
  .main-footer:after {
    content: " ";
    display: table; }
  .main-footer:after {
    clear: both; }
  .main-footer .main-footer__copyright {
    text-align: left;
    float: left; }
  .main-footer .main-footer__cc {
    text-decoration: none; }
  .main-footer .cc_icon {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    vertical-align: middle; }
  .main-footer .main-footer__attribution {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem; }
  .main-footer .main-footer__description {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    float: right; }
  @media (max-width: 800px) {
    .main-footer {
      margin: 2rem auto 0; }
      .main-footer .main-footer__copyright {
        float: none; }
      .main-footer .main-footer__description {
        margin-top: 0.5rem;
        text-align: left;
        float: none; } }

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.product {
  flex-basis: 31%;
  margin-bottom: 3rem;
  text-align: left; }
  .product .product__name {
    font-size: 1.2rem;
    font-weight: 200; }
    .product .product__name a {
      text-decoration: none;
      color: #222; }
      .product .product__name a:hover {
        text-decoration: underline; }
  .product .product__cover-photo > a {
    text-decoration: none;
    border: none; }
    .product .product__cover-photo > a:hover img {
      opacity: 0.85; }
  .product .product__cover-photo img {
    max-width: 102%;
    margin: 0 -1%; }
  .product .product__author {
    font-weight: 200;
    color: #999; }
  @media (max-width: 650px) {
    .product {
      flex-basis: 48%; } }
  @media (max-width: 460px) {
    .product {
      flex-basis: 100%; }
      .product .product__cover-photo {
        float: left;
        padding-right: 1rem; }
        .product .product__cover-photo img {
          max-width: 150px; } }

#product {
  margin-top: -2rem; }
  #product .product__header {
    margin-bottom: 3rem; }
  #product .product__name {
    font-size: 2rem; }
  #product .product__author {
    color: #999;
    margin-bottom: 1rem; }
  #product .product__details {
    color: #999; }
  #product .product__store-link {
    margin-top: 1rem; }
  #product .product__images figure {
    width: 103%;
    margin: 0 -1.5%; }
  @media (max-width: 540px) {
    #product .product__header {
      margin-bottom: 2rem; }
    #product .product__author {
      float: none; }
    #product .product__price {
      float: none; }
    #product .product__quantity {
      float: none; }
      #product .product__quantity:after {
        content: ""; } }

@font-face {
  font-family: 'bebas';
  src: url("/fonts/bebas.eot");
  src: url("/fonts/bebas.eot?#iefix") format("embedded-opentype"), url("/fonts/bebas.woff") format("woff"), url("/fonts/bebas.ttf") format("truetype"), url("/fonts/bebas.svg#bebas") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

html.locked {
  overflow-y: hidden; }
  html.locked body {
    overflow-y: hidden; }

body {
  background-color: #FFFFFF;
  color: #222;
  font-size: 16px;
  font-family: 'helvetica neue', helvetica, sans-serif;
  line-height: 1.8;
  font-weight: 400; }

.nowrap {
  white-space: nowrap; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-weight: 700; }

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem; }

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem; }

.muted {
  color: #999; }

p {
  font-family: 'Droid Serif', helvetica, sans-serif;
  margin-bottom: 1rem; }

hr {
  margin: 5rem 0 7rem;
  text-align: center;
  background: transparent;
  border: none; }
  hr:after {
    content: ". . .";
    font-size: 2rem;
    line-height: 1rem;
    color: #AAA; }

.title {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  margin-top: -2rem; }

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem; }

.topic {
  display: inline-block;
  border-bottom: 1px solid #CCC;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.5rem; }

#main-section {
  margin: auto;
  max-width: 768px;
  width: 90%; }

.center {
  text-align: center; }

.riso {
  margin: 2rem auto;
  max-width: 420px;
  position: relative;
  left: 1.5%; }

.token-poster {
  margin: 0 auto 1rem;
  max-width: 480px; }

.tokens {
  margin: 1rem 0; }
  .tokens .token {
    max-width: 148px; }
