#main-header {
  @include clearfix;

  margin: 0 auto 3rem;

  .main-header__navigation {
    margin: auto;
    max-width: 768px;
    width: 90%;
  }

  .main-header__title {
    font-family: 'bebas', 'helvetica neue', helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    float: left;

    a {
      color: #222;
      text-decoration: none;

      &:hover {
        color: #222;
      }
    }
  }

  .main-header__external-link-bar {
    margin-bottom: 1.5rem;
    background: #222;
  }

  .main-header__external-link-icon {
    height: 1.4rem;
  }

  .main-header__external-links {
    margin: auto;
    max-width: 768px;
    width: 90%;
  }

  .main-header__external-link {
    height: 2.5rem;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: 0.55rem 0.3rem;
    line-height: 1.4rem;
    vertical-align: middle;

    &:hover {
      background: #555;
    }
  }

  .main-header__external-link--text-link {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    position: relative;
  }

  @media (max-width: 768px) {
    margin-bottom: 2rem;

    .main-header__title {
      float: none;
    }
  }
}

nav {
  margin-bottom: 1rem;
  a,
  span {
    margin-right: 0.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    color: #999;
  }
}


#main-navigation {
  float: right;
  height: 4.536rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  a,
  span {
    font-size: 1.2rem;
    font-weight: 200;
  }

  @media (max-width: 768px) {
    width: 100%;
    display: block;
    float: none;
  }
}
