@font-face {
  font-family: 'bebas';
  src: url('/fonts/bebas.eot');
  src: url('/fonts/bebas.eot?#iefix') format('embedded-opentype'),
    url('/fonts/bebas.woff') format('woff'),
    url('/fonts/bebas.ttf') format('truetype'),
    url('/fonts/bebas.svg#bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  &.locked {
    overflow-y: hidden;

    body {
      overflow-y: hidden;
    }
  }
}

body {
  background-color: #FFFFFF;
  color: #222;
  font-size: 16px;
  font-family: 'helvetica neue', helvetica, sans-serif;
  line-height: 1.8;
  font-weight: 400;

}

.nowrap {
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.muted {
  color: #999;
}

p {
  font-family: 'Droid Serif', helvetica, sans-serif;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  margin-top: -2rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.topic {
  display: inline-block;
  border-bottom: 1px solid #CCC;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

#main-header {
  margin: 1rem auto 3rem;
  max-width: 768px;
  width: 90%;

  .main-header__title {
    font-family: 'bebas', 'helvetica neue', helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    float: left;

    a {
      color: #222;
      text-decoration: none;

      &:hover {
        color: #222;
      }
    }
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  @media (max-width: 768px) {
    margin-bottom: 3rem;

    .main-header__title {
      float: none;
    }
  }
}

nav {
  margin-bottom: 1rem;
  a,
  span {
    margin-right: 0.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    color: #999;
  }
}

.quick-look-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
  background: rgba(0,0,0,0.2);

  .quick-look-modal__content {
    position: relative;
    margin: 45px auto;
    width: 848px;
    background: #FFF;
    padding: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

    #product {
      margin-top: 0;
    }
  }

  .quick-look-modal__dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    height: 1.3rem;
    width: 1.3rem;
    font-size: 2rem;
    line-height: 1rem;
    font-weight: 100;
    cursor: pointer;
  }
}

#main-navigation {
  float: right;
  height: 3.236rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  a,
  span {
    font-size: 1.2rem;
    font-weight: 200;
  }

  @media (max-width: 768px) {
    width: 100%;
    display: block;
    float: none;
  }
}

#main-section {
  margin: auto;
  max-width: 768px;
  width: 90%;
}

.center {
  text-align: center;
}

.riso {
  margin: 2rem auto;
  max-width: 420px;
  position: relative;
  left: 1.5%;
}

.token-poster {
  margin: 0 auto 1rem;
  max-width: 480px;
}

hr {
  margin: 5rem 0 7rem;
  text-align: center;
  background: transparent;
  border: none;

  &:after {
    content: ". . .";
    font-size: 2rem;
    line-height: 1rem;
    color: #AAA;
  }
}

.tokens {
  margin: 1rem 0;
  .token {
    max-width: 148px;
  }
}

#product {
  margin-top: -2rem;

  .product__header {
    margin-bottom: 3rem;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .product__name {
    font-size: 1.5rem;
  }

  .product__author {
    color: #999;
    margin-bottom: 1rem;
  }

  .product_description {
  }

  .product__details {
    color: #999;
  }

  .product__store-link {
    margin-top: 1rem;
  }

  .product__images {
    figure {
      width: 103%;
      margin: 0 -1.5%;
    }
  }

  @media (max-width: 540px) {
    .product__header {
      margin-bottom: 2rem;
    }

    .product__name {
    }

    .product__author {
      float: none;
    }

    .product__price {
      float: none;
    }

    .product__quantity {
      float: none;

      &:after {
        content: "";
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product {
  flex-basis: 31%;
  margin-bottom: 3rem;
  text-align: left;

  .product__name {
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: #222;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .product__cover-photo {
    & > a {
      text-decoration: none;
      border: none;

      &:hover img {
        opacity: 0.85;
      }
    }

    img {
      max-width: 102%;
      margin: 0 -1%;
    }
  }

  .product__author {
    font-weight: 200;
    color: #999;
  }

  @media (max-width: 650px) {
    flex-basis: 48%;
  }

  @media (max-width: 460px) {
    flex-basis: 100%;
  }
}

.main-footer {
  max-width: 768px;
  width: 90%;
  margin: 4rem auto 0;
  padding: 1rem 0;
  font-weight: 300;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  .main-footer__copyright {
    text-align: left;
    float: left;
  }

  .main-footer__cc {
    text-decoration: none;
  }

  .cc_icon {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    vertical-align: middle;
  }

  .main-footer__attribution {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  .main-footer__description {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    float: right;
  }

  @media (max-width: 800px) {
    margin: 2rem auto 0;

    .main-footer__copyright {
      float: none;
    }

    .main-footer__description {
      margin-top: 0.5rem;
      text-align: left;
      float: none;
    }
  }
}
