.main-header {
  height: lh(3);
  padding-top: lh(2);
  padding-bottom: lh(1);
  padding-left: lh(2);
  padding-right: lh(2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  height: lh(2);
  width: auto;
  position: relative;
  top: lh(0.4);
	left: lh(-0.5);
}

.main-header__link {
	font-size: 24px;
	text-decoration: none;
	color: #999;

  &:not(:last-child) {
    margin-right: lh(2);
  }

	&:hover {
		cursor: pointer;
		color: #000;
	}

	&.active {
		color: #000;
	}
}
