@mixin column-count($n) {
  column-count: $n;
  -webkit-column-count: $n;
  -moz-column-count: $n;
}

@mixin column-gap($n) {
	column-gap: $n;
	-webkit-column-gap: $n;
	-moz-column-gap: $n;
}

@mixin column-width($n) {
	column-width: $n;
	-webkit-column-width: $n;
	-moz-column-width: $n;
}
