.product {
	text-decoration: none;
	color: #000;
	margin-bottom: lh(2);
	display: inline-block;

	.product__image {
    transition: transform 200ms;
    -webkit-backface-visibility: hidden;
		margin-bottom: lh(0.5);
	}

	&:hover {
		.product__image {
      transform: scale(1.01);
		}
	}
}
