<footer class="main-footer">
  <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" class="main-footer__item creative-commons">
    <img src="/images/by.svg" class="creative-commons__icon" />
    <img src="/images/nc.svg" class="creative-commons__icon" />
    <img src="/images/nd.svg" class="creative-commons__icon" />
  </a>
  <span class="main-footer__item">{{currentYear}} Easy Press</span>
</footer>
