<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="page-container">
      {{> header}}
    
      <section class="main-section">
        {{> body}}
      </section>
    </div>

    {{> footer}}
    {{> page-close}}
  </body>
</html>
